---
import PageLayout from "../layouts/PageLayout.astro";
import BlogPostCard from "../components/BlogPostCard.astro";

const allBlogPosts = Object.values(import.meta.glob('./blog/*.md', { eager: true }))
---

<PageLayout
	title="Blog"
	metadescription="Pequeño recopilatorio de mis fracasos, y en extrañas situaciones, mis aciertos."
>
	<style>
		h1 {
			margin-bottom: 24px;
		}

		p {
			margin-bottom: 0;

			font-size: 1.2rem;
		}

		ul {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
			gap: 16px;

			padding: 0;

			list-style: none;
		}

		li {
			display: flex;

			transition: transform 0.2s ease-in-out;
		}

		li:hover {
			transform: scale(1.05);
		}
	</style>
	<section>
		<h1>Recopilatorio de mis historias</h1>
		<p>
			Un pequeño recopilatorio de mis fracasos, y en esas extrañas situaciones
			donde ocurra, de mis aciertos. Opiniones 100% mías, no representan a nadie
			más que a mi persona.
		</p>
	</section>
	<section>
		<ul>
			{allBlogPosts.sort( (a: any, b: any) => b.frontmatter.pubDate - a.frontmatter.pubDate ).map( (post: any) => (
				<li>
					<BlogPostCard link={post.url} title={post.frontmatter.title} intro={post.frontmatter.intro} />
				</li>
			) )}
		</ul>
	</section>
</PageLayout>
