---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
		<section>
			<h1>Blog</h1>
			<p>Aquí podrás encontrar desde consejos, trucos o soluciones que he aplicado y quiero mantener aquí en mi vida laboral como mi perspectiva en artículos de opinión sobre acontecimientos deportivos o generales.</p>
		</section>
		<section>
			<article>
        <h2>Título de mi artículo número 1</h2>
        <p>Pequeña descripción del artículo 1</p>
      </article>
      <article>
        <h2>Título de mi artículo número 2</h2>
        <p>Pequeña descripción del artículo 2</p>
      </article>
		</section>
    <footer>
      <p>© 2025 juanT</p>
      <p><a href="mailto:juantenoriocosta@gmail.com">Correo</a></p>
      <p><a href="/">Volver al inicio</a></p>
    </footer>
	</body>
</html>
