---
import PageLayout from "../layouts/PageLayout.astro"
---

<PageLayout
	title="Inicio"
	metadescription="Hola, soy Juan Tenorio, ingeniero de software con dos años de experiencia. Busco una oportunidad para especializarme y crecer."
>
	<section>
		<h1>Hola, soy <span class="resaltado">Juan Tenorio</span></h1>
		<h3>Software Engineer</h3>
	</section>
	<section>
		<p>
			Tengo varios años de experiencia laboral y educativa construyendo
			soluciones full-stack para distintos clientes.
		</p>
		<p>
			Estoy buscando una oportunidad en una empresa donde especializarme,
			aprender, crecer y ojalá pasar mucho tiempo juntos.
		</p>
		<p>
			Mi especialidad actual es JavaScript, NodeJS y metaframeworks asociados
			como NextJS, Vite y Express.
		</p>
		<p>
			Si quieres valorar darme esa oportunidad puedes consultar mi 
			<a href="https://www.getmanfred.com/perfil/juantenoriocosta">CV online</a>.
		</p>
	</section>
</PageLayout>
