---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>juanT</title>
	</head>
	<body>
		<section>
			<h1>Hola, soy <span class="resaltado">juanT</span></h1>
			<p><span>Soy ingeniero de software</span><span>Soy curioso por naturaleza</span><span>Soy apasionado del deporte</span></p>
		</section>
		<section>
			<h2>¿Qué hago principalmente?</h2>
			<p>Me dedico a la ingeniería de software y al desarrollo de soluciones para atajar problemas de alcance reducido.</p>
			<p>En mi día a día pongo mucho cariño y cuidado normalmente al front de alguna web o aplicación.</p>
			<p>A pesar de que normalmente dedico la mayoría de mi tiempo al front también diseño y programos las APIs y BBDDs que consumen en proyectos específicos</p>
		</section>
		<footer>
      <p>© 2025 juanT</p>
      <p><a href="mailto:juantenoriocosta@gmail.com">Correo</a></p>
      <p><a href="/blog">Ver el blog</a></p>
    </footer>
	</body>
</html>
