---
---
<style>
  div {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    gap: 16px;

    width: 100%;

    padding: 16px;
  }
</style>
<div class="navigation-container">
  <a href="/">Inicio</a>
  <a href="/blog/">Blog</a>
</div>